.cerrarbtn {
  background-color: white;
  font-weight: bold;
  color: #3a3a3a;
  min-width: 153px;
}

.navBackground {
  background: #3a3a3a;
}
.form-control {
  background-color: transparent;
  border: none;
  text-align: center;
}
.text-center {
  text-align: center;
}

.add-btn {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  padding: 0;
}

.add-icon:hover {
  width: 25px;
  height: 50px;
  color: #25c457;
}
.add-icon {
  width: 25px;
  height: 50px;
  color: #3a3a3a;
}
.delete-icon {
  width: 25px;
  height: 50px;
  color: #3a3a3a;
}
.delete-icon:hover {
  color: #ff0000;
}
.new-row {
  background-color: bisque;
}

.combo-box {
  min-width: 40px;
  width: 100px;
}
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  padding: 0;
}
