.cerrarbtn {
  background-color: white;
  font-weight: bold;
  color: #3a3a3a;
  min-width: 153px;
}

.navBackground {
  background: #3a3a3a;
}
.form-control {
  background-color: transparent;
  border: none;
  text-align: center;
}
.text-center {
  text-align: center;
}

.legend {
  font-size: 14px;
  font-weight: 500;
}

.icon {
  width: 18px;
  height: 18px;
}

.icon.success {
  fill: #22c55e2a;
  stroke: #22c55e;
}

.icon.fail {
  fill: #ef44442e;
  stroke: #ef4444;
}

.new-row {
  background-color: bisque;
}

.combo-box {
  min-width: 40px;
  width: 100px;
}

.row-success {
  background-color: #22c55e2a;
  padding: 0%;
}

.row-fail {
  background-color: #ef44442e;
  padding: 0%;
}

.row-0pading {
  padding: 0%;
}
.forminput {
  width: 73.18px;
  height: 40px !important;
  padding: 0%;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: none;
}

.forminput:focus,
.forminput:hover,
.forminput:active {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.forminput::-webkit-inner-spin-button,
.forminput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.forminput[type="number"] {
  -moz-appearance: textfield;
}
